body {
    margin: 0;
    height: 100%;
    font-family:  sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #000000;
    
    
    
}


*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
  
 
  
} 
ul,
ol, 
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 , h2 ,h3 ,h4 ,h5 ,h6 , p {
   margin: 0;
}

.wrapper {
   min-height: 100vh;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

body {
   background-color: #333;
   color: #fff;
   text-align: center;
}

.yellow {
   color: yellow;
}
.green {
   color: green;
}
h1 {
   text-align:center;
   margin-top: 50px;
   font-size: 45px;
}
 .text {
   padding: 50px;
   max-width: 1100px;
   margin: 0 auto;
 }