body {
    margin: 0;
    height: 100%;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
    background-color: #333;
    
    
    
}


*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
  
 
  
} 
ul,
ol, 
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 , h2 ,h3 ,h4 ,h5 ,h6 , p {
   margin: 0;
}

.wrapper {
   min-height: 100vh;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
}
.title {
   font-size: 35px;
   padding: 35px 0;
}
.text {
   padding: 25px 0px;
}
.buttons>*:not(:last-child) {
   margin-right: 10px;
}
.scroll-by__button {
}
.button {
   font-weight: 500;
   font-size: 24px;
   background-color: yellow;
   border: none;
   border-radius: 8px;
   padding: 8px 15px;
   transition: background 0.3s ease 0s;
   cursor: pointer;
}
button:hover {
   background-color: rgb(207, 207, 0);
}



.text-block {
   margin: 0px auto;
   width: 500px;
   height: 300px;
   padding: 15px;
   border: 20px solid #7a956b;
   background-color: brown;
   overflow: auto;
   line-height: 150%;
}

.text-block p:not(:last-child) {
    margin: 0px 0px 20px 0px;
}


